div {
  background-color: #f00;
  color: #000;
}

.foo {
  background-color: #0ff;
}

.wrapper {
  background-color: #00f;
  color: #fff;
}

span {
  background-color: #0f0;
  border-color: #0ff;
  border-width: 3px;
}
