html {
  background-color: #fff;
  color: #000;
  display: block;
  margin: 12px;
}

head {
  display: none;
}

style,
script,
link {
  display: none;
}

body {
  display: block;
}

div {
  display: block;
}

span {
  display: inline;
}

img {
  display: inline;
}
